@model List<ShoppingAggSiteApp.Models.ItemVm>

@{
    ViewData["Title"] = "Items";
}

<table>
    <thead>
        <tr>
            <th>Store Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ItemName</td>
            </tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    }
        </tbody>
    </table>

